@font-face {
	font-family: mono-rg;
	src: url(fonts/plex-mono/IBMPlexMono-Regular.ttf);
}
@font-face {
	font-family: mono-md;
	src: url(fonts/plex-mono/IBMPlexMono-Medium.ttf);
}
@font-face {
	font-family: mono-bd;
	src: url(fonts/plex-mono/IBMPlexMono-Bold.ttf);
}

@font-face {
	font-family: sans-rg;
	src: url(fonts/plex-sans/IBMPlexSans-Regular.ttf);
}
@font-face {
	font-family: sans-md;
	src: url(fonts/plex-sans/IBMPlexSans-Medium.ttf);
}
@font-face {
	font-family: sans-bd;
	src: url(fonts/plex-sans/IBMPlexSans-Bold.ttf);
}
