/* 
    BASIC 
*/
@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    90% {
        transform: scale(1.05);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
}

@keyframes sheet {
    0% {
        transform: translateY(2rem);
    }
}

@keyframes animate-in {
    0% {
        transform: scaleY(0);
        margin-bottom: calc(-1 * var(--element-height));
        opacity: 0;
    }

    50%,
    100% {
        transform: scaleY(1);
        margin-bottom: 0rem;
        opacity: 1;
    }
}

@keyframes animate-out {
    0% {
        transform: scaleY(1);
        margin-bottom: 0rem;
        opacity: 1;
    }

    50%,
    100% {
        transform: scaleY(0);
        margin-bottom: calc(-1 * var(--element-height));
        opacity: 0;
    }
}

:root {
    --corners: .3rem;

    --padding-md: .6rem .9rem;
    --padding-lg: .9rem .9rem;
}

@media (pointer: fine) {
    :root {
        --padding-md: .4rem .6rem;
        --padding-lg: .6rem .9rem;
    }
}

* {
    accent-color: var(--accent);
    color: var(--text);
    font-size: medium;
    font-family: sans-serif, sans;
}

html {
    background: var(--background);
}

button[disabled],
input[disabled] {
    opacity: .6;
    cursor: not-allowed;
}

/* 
    GROUPS 
*/

/* Animation */
.animating-in {
    transform-origin: top;
    animation: animate-in .5s;
}

.animating-out {
    transform-origin: top;
    animation: animate-out .5s;
}

.draggable-items {
    transition: transform .2s, border-radius .2s;
}

/* Checkable */
.checkable-items {
    background-color: var(--checkable);
}

/* Draggable */
.draggable-items {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.draggable-items.dragging {
    transform: scale(.95);
    border-radius: var(--corners);
}

/* Typeable */
.inputs:not([type="checkbox"]):not([type="radio"]):not([type="range"]),
.textareas,
.typeable-items {
    background-color: var(--fillable);
    box-shadow: 0px 0px 2px var(--shadows) inset;
    padding: var(--padding-md);

    border: 1px solid var(--lines);
    border-radius: var(--corners);

    font-size: medium;
    font-family: sans-serif, sans;
}

/* 
    COMPONENTS
*/

/* Box */
.boxes {
    box-shadow: 0px 0px 4px var(--shadows) inset;
    border: 1px solid var(--lines);

    border-radius: var(--corners);
}

/* Button-like */
.buttons,
.selects {
    font-size: medium;
}

.buttons {
    all: unset;

    color: var(--text);

    border-radius: var(--corners);
    padding: var(--padding-md);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.buttons span {
    color: inherit;
	cursor: default;
}

.buttons span:empty {
    display: none;
}

.selects {
    background-color: var(--clickable);
    border-radius: var(--corners);
    border: none;
    padding: var(--padding-md);
}

.selects,
.buttons:not(.buttons-transparent, .buttons-pressed) {
    box-shadow: 0px 0px 3px var(--shadows);
}

.buttons-normal {
    background-color: var(--clickable);
}

.buttons.buttons-primary {
    background: var(--accent);
    color: var(--on-accent);
}

.buttons.buttons-destructive {
    background: var(--destructive);
    color: var(--on-destructive);
}

.buttons:not([disabled]):active,
.buttons-pressed {
    background: var(--pressed);
    box-shadow: 0px 0px 4px var(--shadows) inset;
    color: var(--color);
}

/* ButtonGroup */
.button-groups {
    box-shadow: 0px 0px 5px var(--shadows);
    border-radius: var(--corners);

    display: flex;
}

.button-groups .buttons {
    width: 100%;
    flex: 1;
    border-radius: 0rem;
}

.button-groups .buttons:not(.buttons-pressed) {
    box-shadow: none;
}

.button-groups .buttons:first-child {
    border-top-left-radius: var(--corners);
    border-bottom-left-radius: var(--corners);
}

.button-groups .buttons:last-child {
    border-top-right-radius: var(--corners);
    border-bottom-right-radius: var(--corners);
}

/* Icon */
.icons {
    font-size: 1.2rem;
}

/* Label */
.labels {
    display: flex;
    flex-direction: column;

    font-size: small;
}

/* ListItem */
.list-items {
    width: 100%;
    padding: var(--padding-md);

    display: flex;
    flex-shrink: 0;

    cursor: pointer;
}

.list-items * {
    color: inherit;
}

.list-items[aria-selected="true"] {
    background: var(--accent);
    color: var(--on-accent);
}

/* Overlays */
.popover-contents,
.sheet-contents {
    background-color: var(--background-alt);
    box-shadow: 0px 0px 7px var(--shadows);

    border: 1px solid var(--lines);
    border-radius: var(--corners);
}

.popover-containers[open] .popover-contents {
    animation: appear .2s;
}

.sheet-contents {
    width: 100%;
    height: 100%;

    animation: sheet .2s ease-out;
}

.sheet-containers {
    position: fixed;
    top: 0rem;
    left: 0rem;

    width: 100%;
    height: 100%;
}

.sheet-containers[open] {
    border: none;

    display: flex;
    align-items: end;

    padding: 0rem;
    padding-top: 2rem;

    background-color: var(--backdrop);

    animation: fade-in .1s;
}

/* Separator */
.separators {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--lines);
}

/* Textarea */
.textareas {
    resize: none;
}

/* VisualGroup */
.visual-groups {
    background-color: var(--background-alt);
    border-radius: var(--corners);
    overflow: hidden;
}
