/* 
BASIC 
 */
* {
	accent-color: var(--accent);
	color: var(--text);
	font-size: medium;
}

*,
span:not(.icons) {
	font-family: sans-rg, sans-serif, sans;
}

html {
	background: var(--background);
}

/* 
GROUPS 
 */

/* Checkable */
.checkable-items {
	background-color: var(--checkable);
}

/* Typeable */
.inputs:not([type='checkbox']):not([type='radio']):not([type='range']),
.textareas,
.typeable-items {
	background-color: var(--inset);
	box-shadow: 0px 0px 2px var(--shadows) inset;

	border: 1px solid var(--lines);

	font-size: medium;
	font-family: sans-md, sans-serif, sans;
}

/* 
COMPONENTS
 */

/* Box */
.boxes {
	box-shadow: 0px 0px 3px var(--shadows) inset;
	border: 1px solid var(--lines);

	background-color: var(--inset);
}

/* Button-like */
.buttons,
.selects,
.submits {
	font-size: medium;
	font-family: mono-md, monospace, mono;
	color: var(--on-clickable);

	background-color: var(--clickable);
	border: 1px solid var(--lines);
}

.buttons {
	background-color: transparent;
}

.buttons span:not(.icons) {
	font-family: inherit;
}

.buttons-transparent {
	border-color: transparent;
}

.buttons.buttons-primary,
.submits {
	background: var(--accent);
	color: var(--on-accent);
	border-color: var(--accent-border);
}

.buttons.buttons-destructive {
	background: var(--destructive);
	color: var(--on-destructive);
	border-color: var(--destructive-border);
}

.navigation-links:active,
.buttons:not([disabled]):active,
.buttons-pressed {
	background: var(--pressed);
	color: var(--on-clickable);
	border-color: var(--clickable-border);
}

.button-groups .buttons:not(.buttons-pressed) {
	box-shadow: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
	font-family: headings, mono-md, monospace, mono;
	text-transform: uppercase;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: larger;
}

h3 {
	font-size: large;
}

h4 {
	font-size: small;
}

h5 {
	font-size: x-small;
}

/* Label */
.labels {
	font-size: small;
}

.list-items > *, .list-items > div > * {
	color: inherit;
}

.list-items[aria-selected='true'] {
	background: var(--pressed);
	color: var(--on-clickable);
}

/* Overlays */
.popover-contents {
	background-color: var(--background-alt);
	box-shadow: 0px 0px 7px var(--shadows);

	border: 1px solid var(--lines);
}

.sheet-contents {
	background-color: var(--background);
}

/* Separator */
.separators {
	border: none;
	border-bottom: 1px solid var(--lines);
}

/* Textarea */
.textareas {
	resize: none;
}

/* VisualGroup */
.visual-groups {
	background-color: var(--background-alt);
}

.visual-groups
	:is(.buttons, .selects, .inputs, .textareas, .submits):not(.forcing-default-styles) {
	border: none !important;
	box-shadow: none !important;
}

.visual-groups
	:is(.buttons, .selects, .inputs, .textareas, .submits):not(
		.forcing-default-styles
	):not(:active) {
	background-color: transparent !important;
}

.visual-groups .icons:not(.forcing-default-styles) {
	font-size: 1rem;
}

.visual-groups > *:is(.ordered-containers > :not(.last-item), *:not(.ordereed-containers) :not(:last-child):not(.last-item)):not(.forcing-default-styles) {
	border-bottom: 1px solid var(--lines) !important;
}

.visual-groups > :is(.ordered-containers .first-item, :not(.ordered-containers) > *:first-child) {
	border-top-left-radius: var(--corners);
	border-top-right-radius: var(--corners);
}

.visual-groups > :is(.ordered-containers .last-item, :not(.ordered-containers) > *:last-child) {
	border-bottom-left-radius: var(--corners);
	border-bottom-right-radius: var(--corners);
}

/*
NAVIGATION
*/

/* Stage-based */
.scenes {
	background-color: var(--background);
	border-right: 1px solid var(--lines);
}

/* Tab-based */
.tab-views > .stacks-horizontal {
	border-top: 1px solid var(--lines);
}

@media (max-width: 520px) {
	.tab-views > .stacks-horizontal .buttons {
		gap: 0.2rem;
	}
}

@media (min-width: 850px) {
	.tab-views > .stacks-horizontal {
		border-top: none;
		border-bottom: 1px solid var(--lines);
	}

	.tab-views > .stacks-horizontal .buttons span {
		font-size: small;
	}
}
