/* 
BASIC 
 */
.frugal-ui-components {
	accent-color: var(--accent);
	color: var(--text);
}

html {
	background: var(--background);
}

/* 
GROUPS 
 */

/* Checkable */
.frugal-ui-components.checkable-items {
	background-color: var(--checkable);
}

/* Typeable */
.frugal-ui-components.inputs:not([type='checkbox']):not([type='radio']):not([type='range']),
.frugal-ui-components.textareas,
.frugal-ui-components.typeable-items {
	background-color: var(--inset);
	box-shadow: 0px 0px 2px var(--shadows) inset;

	border: 1px solid var(--lines);

	font-family: sans-md, sans-serif, sans;
}

/* 
COMPONENTS
 */

/* Box */
.frugal-ui-components.boxes {
	box-shadow: 0px 0px 3px var(--shadows) inset;
	border: 1px solid var(--lines);

	background-color: var(--inset);
}

/* Button-like */
.frugal-ui-components.buttons,
.frugal-ui-components.selects,
.frugal-ui-components.submits {
	font-family: mono-md, monospace, mono;
	color: var(--on-clickable);

	background-color: var(--clickable);
	border: 1px solid var(--lines);
}

.frugal-ui-components.buttons {
	background-color: transparent;
}

.buttons span.frugal-ui-components:not(.icons) {
	font-family: inherit;
}

.frugal-ui-components.buttons-transparent {
	border-color: transparent;
}

.frugal-ui-components.buttons.buttons-primary,
.frugal-ui-components.submits {
	background: var(--accent);
	color: var(--on-accent);
	border-color: var(--accent-border);
}

.frugal-ui-components.buttons.buttons-destructive {
	background: var(--destructive);
	color: var(--on-destructive);
	border-color: var(--destructive-border);
}

summary.frugal-ui-components:active,
.frugal-ui-components.navigation-links:active,
.frugal-ui-components.buttons:not([disabled]):active,
.frugal-ui-components.buttons-pressed {
	background: var(--pressed);
	color: var(--on-clickable);
	border-color: var(--clickable-border);
	box-shadow: 0px 0px 2px var(--shadows) inset;
}

.button-groups .frugal-ui-components.buttons:not(.buttons-pressed) {
	box-shadow: none;
}

/* CommandShell */
@media (pointer: coarse) {
	.command-shells {
		display: none;
	}
}

.command-shells input.frugal-ui-component {
	padding: var(--padding-xs) !important;
}

.command-shells input.frugal-ui-components:focus {
	background: var(--accent) !important;
	color: var(--on-accent) !important;
}

.command-shells input[invalid].frugal-ui-components {
	background: var(--inset) !important;
	color: var(--error) !important;
}

/* Headings */
.frugal-ui-components:is(
h1,
h2,
h3,
h4,
h5) {
	font-family: headings, mono-md, monospace, mono !important;
	text-transform: uppercase;
}

h1.frugal-ui-components {
	font-size: x-large;
}

h2.frugal-ui-components {
	font-size: larger;
}

h3.frugal-ui-components {
	font-size: large;
}

h4.frugal-ui-components {
	font-size: small;
}

h5.frugal-ui-components {
	font-size: x-small;
}

/* Label */
.frugal-ui-components.labels {
	font-size: small;
}

.list-items > .frugal-ui-components, .list-items > div > .frugal-ui-components {
	color: inherit;
}

.frugal-ui-components.list-items[aria-selected='true'] {
	background: var(--pressed);
	color: var(--on-clickable);
}

/* Overlays */
.frugal-ui-components.popover-contents {
	background-color: var(--background-alt);
	box-shadow: 0px 0px 7px var(--shadows);

	border: 1px solid var(--lines);
}

.frugal-ui-components.sheet-contents {
	background-color: var(--background);
}

/* Separator */
.frugal-ui-components.separators {
	border: none;
	border-bottom: 1px solid var(--lines);
}

/* Textarea */
.frugal-ui-components.textareas {
	resize: none;
}

/* VisualGroup */
.frugal-ui-components.visual-groups,
.frugal-ui-components.accordions {
	background-color: var(--background-alt);
}

.visual-groups
	.frugal-ui-components:is(.buttons, .selects, .inputs, .textareas, .submits):not(.forcing-default-styles) {
	border: none !important;
	box-shadow: none !important;
}

.visual-groups
	.frugal-ui-components:is(.buttons, .selects, .inputs, .textareas, .submits):not(
		.forcing-default-styles
	):not(:active) {
	background-color: transparent !important;
}

.visual-groups .frugal-ui-components.icons:not(.forcing-default-styles) {
	font-size: 1rem;
}

.visual-groups > .frugal-ui-components:is(.ordered-containers:last-child > :not(.last-item), *:not(.ordered-containers) :not(:last-child):not(.last-item)):not(.forcing-default-styles) {
	border-bottom: 1px solid var(--lines) !important;
}

.visual-groups > .frugal-ui-components:is(.ordered-containers:first-child .first-item, :not(.ordered-containers) > *:first-child) {
	border-top-left-radius: var(--corners);
	border-top-right-radius: var(--corners);
}

.visual-groups > .frugal-ui-components:is(.ordered-containers:last-child .last-item, :not(.ordered-containers) > *:last-child) {
	border-bottom-left-radius: var(--corners);
	border-bottom-right-radius: var(--corners);
}

/*
NAVIGATION
*/

/* Stage-based */
.frugal-ui-components.scenes {
	background-color: var(--background);
	border-right: 1px solid var(--lines);
}

/* Tab-based */
.tab-views > .frugal-ui-components.stacks-horizontal {
	border-top: 1px solid var(--lines);
}

@media (max-width: 520px) {
	.tab-views > .stacks-horizontal .frugal-ui-components.buttons {
		gap: 0.2rem;
	}
}

@media (min-width: 850px) {
	.tab-views > .frugal-ui-components.stacks-horizontal {
		border-top: none;
		border-bottom: 1px solid var(--lines);
	}

	.tab-views > .stacks-horizontal .buttons span.frugal-ui-components {
		font-size: small;
	}
}
